# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [181]:
import pandas as pd

In [182]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df1 = pd.read_csv(url)

df1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url)

df2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [184]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url)

df3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [185]:
# Unificar los nombres de las columnas
column_mappings = {
    'ST': 'State',
    'GENDER': 'Gender',
    'Income': 'Income',
    'Number of Open Complaints': 'Number of Complaints',
}

df1 = df1.rename(columns=column_mappings)
# Verificar los nuevos nombres de las columnas
print(df1.columns)

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Complaints', 'Policy Type',
       'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [186]:
# Limpiar valores inválidos
# Género
replacements_gender = {
    'F': 'F', 'Femal': 'F', 'female': 'F', 'M': 'M', 'Male': 'M'
}
df1['Gender'] = df1['Gender'].replace(replacements_gender)

# Estado
replacements_state = {
    'arizona': 'Arizona', 'az': 'Arizona', 'california': 'California', 'cali': 'California', 'washington': 'Washington', 'wa': 'Washington'
}
df1['State'] = df1['State'].replace(replacements_state)

# Educación
replacements_education = {
    'Bachelors': 'Bachelor', 'Masters': 'Master', 'High School or Below': 'High School or Below', 'College': 'College', 'Doctor': 'Doctor'
}
df1['Education'] = df1['Education'].replace(replacements_education)

# Clase de vehículo
replacements_vehicle = {
    'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
}
df1['Vehicle Class'] = df1['Vehicle Class'].replace(replacements_vehicle)

# Customer Lifetime Value
# Eliminar el carácter %
df1['Customer Lifetime Value'] = df1['Customer Lifetime Value'].str.replace('%', '')

In [187]:
df1_sin_NAN=df1.dropna()

In [188]:
# Asegurarse que 'customer_lifetime_value' sea numérico
df1_sin_NAN['Customer Lifetime Value'] = df1_sin_NAN['Customer Lifetime Value'].astype(float)

# Formatear 'number_of_open_complaints'
df1_sin_NAN['Number of Complaints'] = df1_sin_NAN['Number of Complaints'].str.split('/').str[1].astype(int)

/var/folders/sp/p06qbz7d3qd0gsdys45vg8x80000gn/T/ipykernel_80001/957722470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_sin_NAN['Customer Lifetime Value'] = df1_sin_NAN['Customer Lifetime Value'].astype(float)
/var/folders/sp/p06qbz7d3qd0gsdys45vg8x80000gn/T/ipykernel_80001/957722470.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_sin_NAN['Number of Complaints'] = df1_sin_NAN['Number of Complaints'].str.split('/').str[1].astype(int)

In [189]:
# Verificar si hay valores nulos
df1.isnull().sum()

# Eliminar filas con valores nulos
df1 = df1.dropna(how='any')

# Verificar nuevamente si hay valores nulos
df1.isnull().sum()

Customer                   0
State                      0
Gender                     0
Education                  0
Customer Lifetime Value    0
Income                     0
Monthly Premium Auto       0
Number of Complaints       0
Policy Type                0
Vehicle Class              0
Total Claim Amount         0
dtype: int64

In [190]:
# Identificar duplicados
duplicates = df1.duplicated()
print(duplicates.sum())

# Eliminar duplicados y resetear índice
df1 = df1.drop_duplicates().reset_index(drop=True)

0

In [191]:
# Código de ejemplo para cambiar los nombres de las columnas
column_mappings = {
    'ST': 'State',
    'GENDER': 'Gender',
    'Number of Open Complaints': 'Number of Complaints',
}

df2 = df2.rename(columns=column_mappings)
# Verificar los nuevos nombres de las columnas
print(df2.columns)

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [192]:
# Limpiar valores inválidos
# Género
replacements_gender = {
    'F': 'F', 'Femal': 'F', 'female': 'F', 'M': 'M', 'Male': 'M'
}
df2['Gender'] = df2['Gender'].replace(replacements_gender)

# Estado
replacements_state = {
    'arizona': 'Arizona', 'az': 'Arizona', 'california': 'California', 'cali': 'California', 'washington': 'Washington', 'wa': 'Washington'
}
df2['State'] = df2['State'].replace(replacements_state)

# Educación
replacements_education = {
    'Bachelors': 'Bachelor', 'Masters': 'Master', 'High School or Below': 'High School or Below', 'College': 'College', 'Doctor': 'Doctor'
}
df2['Education'] = df2['Education'].replace(replacements_education)

# Clase de vehículo
replacements_vehicle = {
    'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
}
df2['Vehicle Class'] = df2['Vehicle Class'].replace(replacements_vehicle)

# Customer Lifetime Value
# Eliminar el carácter %
df2['Customer Lifetime Value'] = df2['Customer Lifetime Value'].str.replace('%', '')

In [193]:
# Asegurarse que 'customer_lifetime_value' sea numérico
df2['Customer Lifetime Value'] = df2['Customer Lifetime Value'].astype(float)

# Formatear 'number_of_open_complaints'
df2['Number of Complaints'] = df2['Number of Complaints'].str.split('/').str[1].astype(int)

In [194]:
# Verificar si hay valores nulos
df2.isnull().sum()

# Eliminar filas con valores nulos
df2 = df2.dropna(how='any')

# Verificar nuevamente si hay valores nulos
df2.isnull().sum()

Customer                   0
State                      0
Gender                     0
Education                  0
Customer Lifetime Value    0
Income                     0
Monthly Premium Auto       0
Number of Complaints       0
Total Claim Amount         0
Policy Type                0
Vehicle Class              0
dtype: int64

In [195]:
# Identificar duplicados
duplicates = df2.duplicated()
print(duplicates.sum())

# Eliminar duplicados y resetear índice
df2 = df2.drop_duplicates().reset_index(drop=True)

0

In [196]:
# Código de ejemplo para cambiar los nombres de las columnas
column_mappings = {
    'Number of Open Complaints': 'Number of Complaints',
}

df3 = df3.rename(columns=column_mappings)
# Verificar los nuevos nombres de las columnas
print(df3.columns)

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Complaints', 'Policy Type',
       'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [197]:
# Limpiar valores inválidos
# Género
replacements_gender = {
    'F': 'F', 'Femal': 'F', 'female': 'F', 'M': 'M', 'Male': 'M'
}
df3['Gender'] = df3['Gender'].replace(replacements_gender)

# Estado
replacements_state = {
    'arizona': 'Arizona', 'az': 'Arizona', 'california': 'California', 'cali': 'California', 'washington': 'Washington', 'wa': 'Washington'
}
df3['State'] = df3['State'].replace(replacements_state)

# Educación
replacements_education = {
    'Bachelors': 'Bachelor', 'Masters': 'Master', 'High School or Below': 'High School or Below', 'College': 'College', 'Doctor': 'Doctor'
}
df3['Education'] = df3['Education'].replace(replacements_education)

# Clase de vehículo
replacements_vehicle = {
    'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
}
df3['Vehicle Class'] = df3['Vehicle Class'].replace(replacements_vehicle)

In [198]:
df3.dtypes

Customer                    object
State                       object
Customer Lifetime Value    float64
Education                   object
Gender                      object
Income                       int64
Monthly Premium Auto         int64
Number of Complaints         int64
Policy Type                 object
Total Claim Amount         float64
Vehicle Class               object
dtype: object

In [199]:
df3['Customer Lifetime Value'] = df3['Customer Lifetime Value'].astype(str)

In [200]:
# Customer Lifetime Value
# Eliminar el carácter %
df3['Customer Lifetime Value'] = df3['Customer Lifetime Value'].str.replace('%', '')

In [201]:
# Asegurarse que 'customer_lifetime_value' sea numérico
df3['Customer Lifetime Value'] = df3['Customer Lifetime Value'].astype(float)

In [202]:
df3['Number of Complaints'] = df3['Number of Complaints'].astype(str)

In [203]:
# Verificar si hay valores nulos
df3.isnull().sum()

# Eliminar filas con valores nulos
df3 = df3.dropna(how='any')

# Verificar nuevamente si hay valores nulos
df3.isnull().sum()

Customer                   0
State                      0
Customer Lifetime Value    0
Education                  0
Gender                     0
Income                     0
Monthly Premium Auto       0
Number of Complaints       0
Policy Type                0
Total Claim Amount         0
Vehicle Class              0
dtype: int64

In [204]:
# Identificar duplicados
duplicates = df3.duplicated()
print(duplicates.sum())

# Eliminar duplicados y resetear índice
df3 = df3.drop_duplicates().reset_index(drop=True)

0

In [205]:
df1['Number of Complaints'] = df1['Number of Complaints'].str.split('/').str[1].astype(int)

In [206]:
df1['Number of Complaints'] = df1['Number of Complaints'].astype(int)

In [207]:
df2['Income'] = df2['Income'].astype(float)

In [208]:
df3['Income'] = df3['Income'].astype(float)

In [214]:
df1['Customer Lifetime Value'] = df1['Customer Lifetime Value'].astype(float)

In [216]:
df1['Monthly Premium Auto'] = df1['Monthly Premium Auto'].astype(int)

In [218]:
df3['Number of Complaints'] = df3['Number of Complaints'].astype(int)

In [217]:
df1.dtypes

Customer                    object
State                       object
Gender                      object
Education                   object
Customer Lifetime Value    float64
Income                     float64
Monthly Premium Auto         int64
Number of Complaints         int64
Policy Type                 object
Vehicle Class               object
Total Claim Amount         float64
dtype: object

In [210]:
df2.dtypes

Customer                    object
State                       object
Gender                      object
Education                   object
Customer Lifetime Value    float64
Income                     float64
Monthly Premium Auto         int64
Number of Complaints         int64
Total Claim Amount         float64
Policy Type                 object
Vehicle Class               object
dtype: object

In [219]:
df3.dtypes

Customer                    object
State                       object
Customer Lifetime Value    float64
Education                   object
Gender                      object
Income                     float64
Monthly Premium Auto         int64
Number of Complaints         int64
Policy Type                 object
Total Claim Amount         float64
Vehicle Class               object
dtype: object

In [247]:
no

  Customer Policy Type  Number of Complaints Vehicle Class  \
0  AA10041         NaN                   NaN           NaN
1  AA11235         NaN                   NaN           NaN
2  AA16582         NaN                   NaN           NaN
3  AA30683         NaN                   NaN           NaN
4  AA34092         NaN                   NaN           NaN

   Total Claim Amount  Monthly Premium Auto Education State  \
0                 NaN                   NaN       NaN   NaN
1                 NaN                   NaN       NaN   NaN
2                 NaN                   NaN       NaN   NaN
3                 NaN                   NaN       NaN   NaN
4                 NaN                   NaN       NaN   NaN

   Customer Lifetime Value  Income  ... Policy Type_drop  \
0                      NaN     NaN  ...              NaN
1                      NaN     NaN  ...              NaN
2                      NaN     NaN  ...              NaN
3                      NaN     NaN  ...              NaN
4                      NaN     NaN  ...              NaN

  Number of Complaints_drop  Vehicle Class_drop Total Claim Amount_drop  \
0                       NaN                 NaN                     NaN
1                       NaN                 NaN                     NaN
2                       NaN                 NaN                     NaN
3                       NaN                 NaN                     NaN
4                       NaN                 NaN                     NaN

   Monthly Premium Auto_drop  Education_drop State_drop  \
0                        NaN             NaN        NaN
1                        NaN             NaN        NaN
2                        NaN             NaN        NaN
3                        NaN             NaN        NaN
4                        NaN             NaN        NaN

  Customer Lifetime Value_drop  Income_drop  Gender_drop
0                          NaN          NaN          NaN
1                          NaN          NaN          NaN
2                          NaN          NaN          NaN
3                          NaN          NaN          NaN
4                          NaN          NaN          NaN

[5 rows x 21 columns]

In [250]:
df_merged.dtypes

Customer                         object
Policy Type                      object
Number of Complaints            float64
Vehicle Class                    object
Total Claim Amount              float64
Monthly Premium Auto            float64
Education                        object
State                            object
Customer Lifetime Value         float64
Income                          float64
Gender                           object
Policy Type_drop                 object
Number of Complaints_drop       float64
Vehicle Class_drop               object
Total Claim Amount_drop         float64
Monthly Premium Auto_drop       float64
Education_drop                   object
State_drop                       object
Customer Lifetime Value_drop    float64
Income_drop                     float64
Gender_drop                      object
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [251]:
# Cargaremos el archivo CSV proporcionado desde el enlace correcto
data_url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
data = pd.read_csv(data_url)

# Mostrar las primeras filas del dataframe y la información de las columnas
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

(   unnamed:_0 customer       state  customer_lifetime_value response  \
 0           0  DK49336     Arizona              4809.216960       No
 1           1  KX64629  California              2228.525238       No
 2           2  LZ68649  Washington             14947.917300       No
 3           3  XL78013      Oregon             22332.439460      Yes
 4           4  QA50777      Oregon              9025.067525       No

    coverage education effective_to_date employmentstatus gender  ...  \
 0     Basic   College        2011-02-18         Employed      M  ...
 1     Basic   College        2011-01-18       Unemployed      F  ...
 2     Basic  Bachelor        2011-02-10         Employed      M  ...
 3  Extended   College        2011-01-11         Employed      M  ...
 4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

    number_of_policies     policy_type        policy  renew_offer_type  \
 0                   9  Corporate Auto  Corporate L3            Offer3
 1                   1   Personal Auto   Personal L3            Offer4
 2                   2   Personal Auto   Personal L3            Offer3
 3                   2  Corporate Auto  Corporate L3            Offer2
 4                   7   Personal Auto   Personal L2            Offer1

    sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
 0          Agent          292.800000  Four-Door Car       Medsize
 1    Call Center          744.924331  Four-Door Car       Medsize
 2    Call Center          480.000000            SUV       Medsize
 3         Branch          484.013411  Four-Door Car       Medsize
 4         Branch          707.925645  Four-Door Car       Medsize

   vehicle_type month
 0            A     2
 1            A     1
 2            A     2
 3            A     1
 4            A     1

 [5 rows x 27 columns],
 None)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [252]:
total_revenue_by_channel = data.groupby('sales_channel')['total_claim_amount'].sum().round(2)

total_revenue_by_channel

sales_channel
Agent          1810226.82
Branch         1301204.00
Call Center     926600.82
Web             706600.04
Name: total_claim_amount, dtype: float64

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [253]:
# Crear una tabla pivote para mostrar el valor promedio de vida del cliente por género y nivel educativo
pivot_table_lifetime_value = pd.pivot_table(data, values='customer_lifetime_value', index='education', columns='gender', aggfunc='mean').round(2)

pivot_table_lifetime_value

gender                      F        M
education
Bachelor              7874.27  7703.60
College               7748.82  8052.46
Doctor                7328.51  7415.33
High School or Below  8675.22  8149.69
Master                8157.05  8168.83

Análisis:

* Los clientes con nivel educativo de "Secundaria o Inferior" tienen los valores más altos de vida del cliente (LTV) en ambos géneros, seguido por aquellos con maestría.
* En la mayoría de los niveles educativos, los hombres tienen un LTV ligeramente superior comparado con las mujeres, excepto en los niveles de bachillerato y doctorado donde las mujeres tienen un valor ligeramente superior.
* Los clientes con doctorado tienen menor LTV, lo que podría ser un área de interés para investigar por qué sucede esto.